<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html>

<head>
	<meta charset='utf-8'>
	<link rel='stylesheet' type='text/css' href="{% static 'css/mystyle.css' %}">
	<title> ElDjango-Users
	</title>

</head>

<body>

<h1> These are the users:</h1>

{% if result %}
<div>
<table>
<th>Last Name</th>
<th>First Name</th>
<th>Email</th>

{% for el in result %}
<tr>
<td>{{el.last_name}}</td><td>{{el.first_name}}</td><td>{{el.email}}</td>
</tr>
{% endfor %}

</table>


</div>
{% else %}
<p>No Users Recorded!</p>
{% endif %}





</body>



</html>